In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sn

In [17]:
df1 = pd.read_csv('./data/Admission_Predict.csv')
df2 = pd.read_csv('./data/Admission_Predict_Ver1.1.csv')
full_df = df1.append(df2, ignore_index=True,)

full_df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [18]:
# full_df = full_df.drop(['Serial No.'], axis=1)
full_df.columns
full_df.summary()

AttributeError: 'DataFrame' object has no attribute 'summary'